free-mujoco-py==2.1.6
matplotlib==3.6.3
mujoco==2.3.1.post1
mujoco-py==2.1.2.14
numba==0.53.1
numpy==1.23.5
pandas==1.5.2
Pillow==9.4.0
pycairo==1.23.0
pycparser==2.21
PyOpenGL==3.1.6
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
python-dateutil==2.8.2
python-qt-binding==0.4.4
pytictoc==1.5.2
pytz==2022.7
pyyaml==6.0
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
robosuite==1.3.1
rospkg==1.4.0
scikit-learn==1.2.0
scipy==1.10.0
termcolor==2.2.0
tensorboard==2.11.2
torch==1.13.1
torchensemble==0.1.3
torchvision==0.14.1
